---
import Layout from "@layouts/Layout.astro"
import { DateTime } from "luxon"
import { Icon } from "astro-icon"

const posts = await Astro.glob<Frontmatter>("./posts/*.md")

const toDate = (d: string) => DateTime.fromFormat(d, "MMMM d, yyyy")

const showDrafts = !!import.meta.env.DEV

const sortedPosts = posts
	.sort((a, b) => {
		return toDate(a.frontmatter.date) > toDate(b.frontmatter.date) ? -1 : 1
	})
	.filter((post) => (showDrafts ? true : !post.frontmatter.draft))
---

<Layout title="Blog">
	<div class="mb-12">
		<h1 class="text-indigo-600 text-5xl font-black leading-loose">Blog</h1>
		<p class="text-neutral-500 dark:text-neutral-400 leading-relaxed text-lg">
			My reflections on programming, what I'm working on in open source, or what I'm learning about
			at the moment.
		</p>
	</div>
	<div class="space-y-12">
		{
			sortedPosts.map((post) => (
				<a href={`${post.url}`} class="block">
					<div class="flex items-center space-x-3 text-sm text-neutral-400 dark:text-neutral-500">
						<span>{post.frontmatter.date}</span>
						<span>·</span>
						<span>{post.frontmatter.readingTime.text}</span>
						<span
							title={`This post has ${post.frontmatter.readingTime.words} words.  Reading time is calculated using a default reading speed of 200 WPM.`}
						>
							<Icon name="mdi:information" class="h-3 w-3 text-neutral-600" />
						</span>
					</div>
					<h1 class="my-2 text-3xl font-bold text-neutral-900 dark:text-neutral-100">
						{post.frontmatter.title}
					</h1>
					{post.frontmatter.subtitle && (
						<span class="text-lg text-neutral-500">{post.frontmatter.subtitle}</span>
					)}
					<p class="mt-4 font-serif leading-7 text-neutral-900 dark:text-neutral-200 md:text-lg">
						{post.frontmatter.summary}
					</p>
					<div class="mt-4 flex items-center text-indigo-500 dark:text-indigo-500">
						Read More
						<Icon name="mdi:arrow-right" class="ml-1 h-3 w-3" />
					</div>
				</a>
			))
		}
	</div>
</Layout>
