---
import { Icon } from "astro-icon/components"
import "../styles/utils.css"

export interface Props {
	title: string
	description?: string | undefined
	image?: string
}

const { title, description, image } = Astro.props

const baseURL = new URL(Astro.request.url).origin

const defaultSiteDescription = "Full stack web developer, professional computer tinkerer"
const defaultImage = `${baseURL}/default_og_image.jpeg`

const navLinks = [
	{
		href: "/blog",
		title: "Blog",
	},
	{
		href: "/about",
		title: "About",
	},
	{
		href: "/contact",
		title: "Contact",
	},
] as const

function getColorTheme() {
	const defaultTheme = "light"
	const cookies = Astro.request.headers.get("cookie")

	const parsedCookies = cookies
		?.split(";")
		.map((cookie) => cookie.split("="))
		.reduce<Record<string, unknown>>((table, [key, value]) => {
			if (key) {
				table[key.trim()] = value?.trim()
			}
			return table
		}, {})

	if (!parsedCookies) {
		return defaultTheme
	}

	const colorTheme = parsedCookies["color-theme"]
	return colorTheme ?? defaultTheme
}

const colorTheme = getColorTheme()
---

<!doctype html>
<html lang="en" class={`${colorTheme === "dark" ? "dark" : ""}`}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description ?? defaultSiteDescription} />
		<meta name="og:description" content={description ?? defaultSiteDescription} />
		<meta name="og:title" content={title} />
		<meta name="og:image" content={image ?? defaultImage} />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:creator" content="@_michaelhelvey" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&family=Source+Serif+Pro:wght@300;400;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>

		<script>
			import Cookies from "js-cookie"

			// On page load, detect the correct theme based on user settings:
			if (
				Cookies.get("color-theme") === "dark" ||
				(!Cookies.get("color-theme") && window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark")
				Cookies.set("color-theme", "dark")
			} else {
				document.documentElement.classList.remove("dark")
				Cookies.set("color-theme", "light")
			}

			// See below for the script for the button that sets localStorage
		</script>
	</head>
	<body class="flex flex-col bg-white font-sans dark:bg-zinc-900">
		<header class="border-b border-gray-200 dark:border-gray-700">
			<div class="flex items-center justify-between px-6 py-8 md:px-12">
				<button id="mobile-menu-button" aria-label="Open Menu" class="relative block md:hidden">
					<Icon name="mdi:menu" class="h-6 w-6 text-gray-800 dark:text-gray-400" />
				</button>

				<a
					href="/"
					class="relative font-bold text-indigo-600 after:absolute after:bottom-0 after:left-0 after:w-0 after:border-indigo-600 after:transition-all after:duration-300 hover:after:w-full hover:after:border-b dark:text-indigo-400 after:dark:border-indigo-400"
				>
					michaelhelvey.dev
				</a>

				<nav
					id="desktop-nav"
					class="hidden items-center space-x-6 text-slate-900 dark:text-gray-100 md:flex"
				>
					{
						navLinks.map((link) => (
							<a
								href={link.href}
								rel="prefetch"
								class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:border-gray-900 after:transition-all after:duration-300 hover:after:w-full hover:after:border-b after:dark:border-gray-100"
							>
								{link.title}
							</a>
						))
					}
				</nav>

				<button id="theme-switch-button" aria-label="Toggle dark mode">
					<Icon
						name="mdi:white-balance-sunny"
						class="h-8 w-8 rounded-full border border-gray-300 p-2 text-gray-300 hover:border-gray-800 hover:text-gray-800 dark:border-slate-400 dark:text-gray-400 dark:hover:border-slate-600 dark:hover:text-slate-600"
					/>
				</button>
			</div>
			<div
				id="mobile-menu"
				class="hidden flex-col items-start space-y-3 border-t px-6 py-6 text-slate-900 dark:text-gray-100 md:hidden"
			>
				{
					navLinks.map((link) => (
						<a
							href={link.href}
							rel="prefetch"
							class="relative after:absolute after:bottom-0 after:left-0 after:w-0 after:border-gray-900 after:transition-all after:duration-300 hover:after:w-full hover:after:border-b after:dark:border-gray-100"
						>
							{link.title}
						</a>
					))
				}
			</div>
		</header>
		<main class="mx-auto my-0 w-full max-w-full flex-1 p-6 md:max-w-3xl">
			<slot />
		</main>
		<footer class="p-6 text-center text-sm text-gray-500 dark:text-gray-400 md:text-left">
			All Rights Reserved &copy; Michael Helvey 2022
		</footer>
		{/* Visually hidden link to mastodon */}
		<a class="hidden" aria-hidden="true" rel="me" href="https://fosstodon.org/@michaelhelvey">
			Mastodon
		</a>
		<script>
			import Cookies from "js-cookie"
			// Theme switcher:
			document.querySelector("#theme-switch-button")?.addEventListener("click", () => {
				const isDark = document.documentElement.classList.toggle("dark")
				if (isDark) {
					Cookies.set("color-theme", "dark")
				} else {
					Cookies.set("color-theme", "light")
				}
			})

			// Mobile menu toggle:
			const menu = document.getElementById("mobile-menu")
			document.querySelector("#mobile-menu-button")?.addEventListener("click", () => {
				menu?.classList.toggle("hidden")
				menu?.classList.toggle("flex")
			})
		</script>
	</body>
</html>
