---
import Layout from "@layouts/Layout.astro"
import { Icon } from "astro-icon/components"

type Props = { frontmatter: Frontmatter }

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.summary}>
	<h1 class="my-3 text-4xl font-bold text-gray-900 dark:text-gray-100">
		{frontmatter.title}
	</h1>
	<p class="text-xl text-gray-600 dark:text-gray-400">
		{frontmatter.subtitle}
	</p>
	<div class="my-4 flex items-center space-x-3 text-sm text-gray-500">
		<span>{frontmatter.date}</span>
		<span>·</span>
		<span>{frontmatter.readingTime.text}</span>
		<span
			title={`This post has ${frontmatter.readingTime.words} words.  Reading time is calculated using a default reading speed of 200 WPM.`}
		>
			<Icon name="mdi:information" class="h-3 w-3 text-neutral-600" />
		</span>
	</div>
	<div
		class="prose mt-6 max-w-none font-serif text-black dark:prose-invert md:prose-lg dark:text-gray-100"
	>
		<slot />
	</div>
</Layout>
